.contactButton {
  padding: 8px 16px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contactButton:hover {
  background-color: darkgreen;
}
